{% extends "base.html" %}

{% block main %}
  <div class="login-form center-block">
    {% include 'flash_messages.html' %}
    <h1>Secure Page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Asperiores suscipit eum a eveniet ad doloremque laborum neque, maiores 
        quam corporis porro nemo aspernatur provident unde velit recusandae sunt 
        placeat commodi vero? Praesentium assumenda fuga odit eum, nobis doloremque 
        deserunt qui? Facere mollitia cupiditate modi ducimus similique blanditiis? 
        Quae, veritatis sunt.
    </p>
  </div>
{% endblock %}